<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/sign-up.css" />
    <title>Sign-up</title>
    <!-- <script src="../js/test.js" defer></script> -->
    <script src="../js/sign-up.js" defer></script>
  </head>
  <body>
    <header class="bg-blue main-header">
      <img src="../../assets/image/Icon.png" alt="navbar icon" />
      <h1>
        <a href="./index.html">
          <img src="../../assets/image/logo.png" alt="MegaRocket" />
        </a>
      </h1>
    </header>
    <main>
      <section class="section-form">
        <img src="../../assets/image/close.png" alt="back" class="back-btn" />
        <h2>Register</h2>
        <form id="myForm">
          <div class="form-row">
            <label for="name"
              >Name:
              <input type="text" id="name" name="Name" />
            </label>
            <label for="lastName"
              >Last name:
              <input type="text" id="lastName" name="Last Name" />
            </label>
            <label for="dni"
              >DNI:
              <input type="text" id="dni" name="DNI" />
            </label>
            <label for="dateOfBirth"
              >Date of Birth:
              <input type="date" id="dateOfBirth" name="Date Of Birth" />
            </label>
            <label for="email"
              >Email:
              <input type="text" id="email" name="Email" />
            </label>
            <label for="locality"
              >Locality:
              <input type="text" id="locality" name="Locality" />
            </label>
          </div>
          <div class="form-row">
            <label for="zipCode"
              >Zip code:
              <input type="text" id="zipCode" name="Zip Code" />
            </label>
            <label for="telephone"
              >Telephone:
              <input type="text" id="telephone" name="Telephone" />
            </label>
            <label for="address"
              >Address:
              <input type="text" id="address" name="Address" />
            </label>
            <label for="password"
              >Password:
              <input type="text" id="password" name="Password" />
            </label>
            <label for="repeatPassword"
              >repeat your Password:
              <input type="text" id="repeatPassword" name="Repeat Password" />
            </label>
          </div>
        </form>
      </section>
      <button class="btn-form" type="submit" id="submit-btn">Register</button>
    </main>
  </body>
</html>
